* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;

  @include laptopLarge {
    padding: 0 25px;
  }
}

p {
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.36px;

  @include laptopLarge {
    font-size: 20px;
  }

  @include laptop {
    font-size: 20px;
  }

  @include phones {
    font-size: 18px;
  }
}

.blur {
  filter: blur(5px);
}

#main_bg,
#bg_wave {
  canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.main {
  position: relative;
  .container {
    z-index: 1;
  }
}

.scrollDisabled {
  position: fixed;
  margin-top: 0;
  width: 100%;
}
