//colors
$white: #fffff;
$black: #1B1F22;
$dark: #1C1C1C;
$link: #645F9A;
$violet: #725bc0;
$violet-hover: #6428C8;
$error: #CC2B2B;
$success: #00DA3D;
$grey: #8E8E8E;

// resolutions
$laptopLarge: 1240px;
$laptop: 1024px;
$tablets: 768px;
$phones: 560px;