.not-found {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1.not-found__title {
    font-size: 288px;
    line-height: 1.15;
    color: $violet;

    @include tablets {
      font-size: 200px;
    }

    @include phones {
      font-size: 150px !important;
    }
  }

  h2 {
    font-size: 32px;
    margin-bottom: 30px;

    @include tablets {
      font-size: 26px;
      margin-bottom: 20px;
    }

    @include tablets {
      font-size: 20px;
    }
  }

  .text-m {
    margin-bottom: 50px;

    @include tablets {
      margin-bottom: 25px;
    }
  }

  .button-big {
    display: block;
  }
}