.G-about {

  h2 {
    font-size: 52px;
    line-height: 115%;
    letter-spacing: -0.02em;

    @include laptopLarge {
      font-size: 36px;
    }

    @include tablets {
      font-size: 24px;
    }
  }

  .main {
    min-height: 100vh;
    height: 100vh;
    padding: 130px 0;
    display: flex;
    align-items: center;
    background-size: cover;

    @include tablets {
      padding-bottom: 50px;
    }

    h1 {
      margin-bottom: 40px;
      font-size: 64px;
      line-height: 1;

      @include laptopLarge {
        font-size: 42px;
      }

      @include tablets {
        font-size: 32px;
      }

      @include phones {
        margin-bottom: 15px;
      }
    }

    &-paragraphs-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;

      @include tablets {
        flex-direction: column;
      }

      &-items {
        margin-bottom: 20px;

        @include laptop {
          width: calc(50% - 30px);
        }

        @include tablets {
          width: 100%;
        }

        &:nth-child(odd) {
          margin-right: 30px;
        }

        p {
          margin-bottom: 20px;

          @include laptopLarge {
            font-size: 20px;
          }

          @include tablets {
            font-size: 18px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-subtitle {
      color: #725BC0;
    }
  }

  .reward {
    padding-top: 90px;

    @include phones {
      padding-top: 50px;
    }

    h3 {
      font-size: 32px;

      @include laptop {
        font-size: 28px;
      }

      @include tablets {
        font-size: 24px;
      }

      @include phones {
        font-size: 20px !important;
        margin-bottom: 25px;
      }
    }

    &-card {
      position: relative;
      padding: 60px 60px 60px 326px;
      pointer-events: none;

      @include laptop {
        padding: 40px 40px 40px 260px;
      }

      @include tablets {
        padding: 30px 30px 30px 180px;
      }

      @include phones {
        padding: 0 !important;
        box-shadow: none;
      }

      &-image {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include phones {
          display: none;
        }

        svg {
          @include laptop {
            width: 220px;
            height: auto;
          }

          @include tablets {
            width: 150px;
          }
        }
      }

      h3 {
        margin-bottom: 35px;
      }

      &-paragraphs-wrapper {
        display: flex;

        @include tablets {
          flex-direction: column;
        }

        p {
          font-size: 18px;
          width: 315px;
          margin-right: 40px;

          @include tablets {
            margin-right: 0;
            margin-bottom: 30px;
            width: 100%;
          }

          @include phones {
            font-size: 14px;
            margin-bottom: 15px !important;
          }

          &:last-child {
            margin-right: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .case {
    padding-top: 90px;

    @include phones {
      padding-top: 50px;
    }

    h2 {
      margin-bottom: 30px;

      @include phones {
        margin-bottom: 20px;
      }
    }

    &-paragraph {
      margin-bottom: 50px;

      @include phones {
        margin-bottom: 30px;
      }
    }

    .case-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;

      @include tablets {
        margin-right: 0;
      }

      @include phones {
        width: calc(100% + 50px);
        margin-left: -25px;
      }

      &-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc(50% - 30px);
        padding: 50px 50px 55px 40px;

        @include tablets {
          padding: 25px;
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px;
        }

        &-header {
          position: relative;
          margin-bottom: 30px;
          padding-right: 80px;

          svg, img {
            @include laptop {
              max-width: 150px;
              height: auto;
            }

            @include tablets {
              max-width: 100px;
            }
          }

          .arrow-link {
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        &-content {

          h6 {
            margin-bottom: 20px;

            @include laptopLarge {
              font-size: 20px;
            }
          }

          p {
            font-size: 16px;
            line-height: 130%;

            @include phones {
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .publication {
    padding: 90px 0 130px 0;

    @include phones {
      padding: 50px 0;
    }

    h2 {
      margin-bottom: 41px;

      @include phones {
        margin-bottom: 35px;
      }
    }

    &-paragraph {
      margin-bottom: 50px;

      @include phones {
        margin-bottom: 25px;
      }
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-right: -35px;

      @include phones {
        margin-right: 0;
        flex-direction: column;
      }

      &-item {
        width: calc(33% - 35px);
        margin-right: 35px;
        margin-bottom: 40px;

        @include tablets {
          width: calc(50% - 35px);
        }

        @include phones {
          width: 100% !important;
          margin-bottom: 25px;
          margin-right: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &-text {
          font-size: 18px;
          line-height: 115%;
          margin-bottom: 12px;

          @include phones {
            font-size: 14px;
          }
        }

        a {
          position: relative;
          font-size: 18px;
          line-height: 115%;
          color: #725BC0;
          padding-left: 20px;

          &:before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            content: ' ';
            background: no-repeat url('/assets/img/external-link.svg') center center;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
          }

          &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            width: calc(100% - 20px);
            height: 1px;
            border-bottom: 1px solid #725BC0;
            content: '';
          }
        }
      }
    }
  }
}