.map {
  padding-top: 114px;

  @include tablets {
    display: none;
  }

  &-iframe {
    width: 100%;
    height: 414px;
  }
}

.contacts {
  padding: 88px 0 152px 0;

  @include tablets {
    padding: 114px 0 50px 0;
    width: 100%;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title card" "desc card";

    @include laptop {
      grid-template-columns: 1fr 1fr;
    }

    @include tablets {
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
              "title"
              "map"
              "card"
              "desc";
    }
  }

  h1 {
    grid-area: title;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1;

    @include laptopLarge {
      font-size: 42px;
    }

    @include tablets {
      font-size: 32px;
      margin-bottom: 25px;
      padding: 0 25px;
    }
  }

  &-text {
    grid-area: desc;

    @include tablets {
      padding: 0 25px;
    }

    p {
      line-height: 140%;
      font-size: 22px;
      margin-bottom: 20px;

      @include laptop {
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-card {
    grid-area: card;
    background-color: #725BC0;
    border-radius: 10px;
    padding: 50px 40px;
    width: 370px;
    justify-self: flex-end;
    margin-left: 30px;

    @include tablets {
      width: 100%;
      padding: 40px 25px;
      border-radius: 0px;
      margin-bottom: 50px;
    }

    &-items {
      display: block;
      margin-bottom: 20px;
      line-height: 115%;
      font-size: 18px;
      font-weight: 700;
      color: #fff;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-socials {
      display: flex;
      align-items: center;
      line-height: 100%;
      margin-top: 30px;

      a {
        display: block;
        margin-right: 15.75px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

  }
}

.map-mobile {
  display: none;
  grid-area: map;

  @include tablets {
    display: block;
    width: 100%;
  }

  &-iframe {
    width: 100%;
    height: 414px;
  }
}