.main_page {
  height: 100vh;
  overflow: hidden;

  @include phones {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  main {
    padding-top: 0;
  }

  .footer {
    display: none;

    @include phones {
      display: block;
      z-index: 10;
      background: transparent;
    }
  }
}

.main-section {
  height: 100vh;
  position: relative;
  overflow: hidden;

  @include phones {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 114px;
  }

  h1 {
    margin-bottom: 30px;
    max-width: 850px;

    @include tablets {
      margin-bottom: 25px;
    }
  }

  h2 {
    width: 390px;

    @include laptopLarge {
      font-size: 42px;
      width: 270px;
    }

    @include tablets {
      font-size: 24px;
      margin-bottom: 25px;
      width: 100%;
    }
  }

  p {
    max-width: 775px;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 50px;

    @include laptopLarge {
      font-size: 24px;
      margin-bottom: 30px;
      max-width: 500px;
    }

    @include tablets {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    max-width: 1434px;
    padding: 0 54px;

    @include laptopLarge {
      padding-right: 90px;
    }
  }

  .swiper-container.container {
    @include phones {
      padding: 0 25px;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    @include phones {
      padding: 50px 0;
    }
  }

  .slide-row{
    display: flex;
    flex-direction: row;

    @include tablets {
      flex-direction: column;
    }
  }

  .swiper-pagination {
    position: absolute;
    right: 32px;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);

    @include tablets {
      right: 20px;
    }

    @include phones {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color:#FFFFFF;
    font-weight: bold;
    opacity: 0.6;
    background: transparent;

    @include tablets {
      width: 30px;
      height: 30px;
      font-size: 16px;
      line-height: 30px;
    }
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    color:#725BC0;
    opacity: 1;

    &::before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-top: 3px solid #725BC0;
      border-bottom: 3px solid #725BC0;
      border-left: 3px solid #725BC0;
      border-right: 3px solid transparent;
      border-radius: 100%;
      position: absolute;
      left: 0;
      animation-name: rotation;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @include tablets {
        width: 30px;
        height: 30px;
      }
    }
  }

  .swiper-wrapper {
    flex-direction: column;
  }

  a {
    position: relative;
    background-image: linear-gradient(#725bc0, #725bc0);
    background-position: 0% 85%;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    transition: background-size .3s;
    color: #FFFFFF;

    @include tablets {
      background-size: 100% 3px;
    }

    &:hover {
      background-size: 0% 5px;
    }
  }

  .footer-landau {
    position: absolute;
    bottom: 32px;
    text-align: left;

    @include phones {
      display: none;
    }
  }
}

.btn_link {
  font-weight: bold;
  font-size: 28px;

  @include tablets {
    font-size: 18px;
  }
}

#container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include phones {
    position: fixed;
  }
}

.scroll-icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width :23px;
  height: 41px;

  @include phones {
    display: none;
  }
}

.mouse {
  width: 3px;
  padding: 3px 8px;
  height: 31px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 7px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(7px); opacity: 0;}
}

@keyframes rotation {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.slide_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  &:first-child {
    margin-right: 70px;

    @include laptopLarge {
      margin-right: 50px;
    }
  }
}

.index_slide {
  position: absolute;
  font-size: 288px;
  color: #FFFFFF;
  opacity: 0.05;
  left: 0;
  top: 17%;

  @include tablets {
    font-size: 184px;
    left: -60px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-right: 20px;
  margin-bottom: 50px;
  width: 210px;

  @include laptopLarge {
    margin-bottom: 30px;
    width: calc(50% - 20px);
  }

  @include tablets {
    width: 100%;
    margin-bottom: 25px;
  }

  &:last-child {
    margin-right: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 0;

    @include laptopLarge {
      font-size: 16px;
      margin-bottom: 0;
    }

    @include tablets {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

.item__pic {
  width: 60px;
  height: 60px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;

  @include laptopLarge {
    width: 47px;
    height: 47px;
  }

  @include tablets {
    margin-left: 0;
    margin-bottom: 15px;
  }

  img {
    width: 60%;
    height: auto;
  }
}

.nums_list{
  counter-reset: myCounter;
  margin-bottom: 20px;
}

.num_item {
  display: flex;
  align-items: center;
  font-size: 42px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    counter-increment: myCounter;
    content: "0" counter(myCounter);
    color: #725BC0;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
  }

  @include laptopLarge {
    font-size: 24px;
  }

  @include tablets {
    font-size: 18px;
  }
}

.presentation_block {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  padding: 28px 40px 28px 0;
  max-width: 440px;

  @include phones {
    background: none;
    padding: 0;
    flex-direction: column;
  }
}

.presentation_icon {
  background: #725BC0;
  border-radius: 0px 5px 5px 0px;
  padding: 16px 8px;
  margin-right: 18px;

  @include phones {
    display: none;
  }
}

.presentation__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;

  @include phones {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.presentation__desc {
  @include phones {
    margin-bottom: 32px;
  }
}

.presentation_btn--mobile {
  display: none;

  @include phones {
    display: block;
    align-self: flex-start;
  }
}

.list-steps {
  flex-wrap: wrap;
  margin-right: -20px;
  height: 100%;

  @include tablets {
    margin-right: 0;
  }

  li {
    width: calc(50% - 20px);

    @include tablets {
      width: 100%;
    }
  }
}

.case__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 45px;
  font-size: 22px;
  line-height: 1.25;
  max-width: 522px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("/assets/img/index_icon/arrow.svg");
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
  }

  @include laptopLarge {
    font-size: 18px;
  }

  @include tablets {
    font-size: 14px;
  }
}

.serves_item {
  margin-bottom: 70px;
  max-width: 615px;

  p {
    margin-top: 20px;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.02em;
    margin-bottom: 0;

    @include laptopLarge{
      margin-bottom: 0;
    }
  }

  @include tablets {
    margin-bottom: 30px;
  }
}

.serves__link {
  font-size: 48px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  font-weight: bold;
  margin-bottom: 20px;

  @include laptopLarge {
    font-size: 34px;
  }

  @include tablets {
    font-size: 18px;
  }

  &--small {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: normal;

    @include laptopLarge {
      font-size: 20px;
    }

    @include tablets {
      font-size: 18px;
    }
  }
}

.main_page_form {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 40px 44px;
  max-width: 755px;

  @include laptopLarge {
    margin-left: -320px;
  }

  @include tablets {
    margin-left: 0;
    background: none;
    padding: 0;
  }

  .form_block {
    margin-right: 20px;

    @include tablets {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.mpf_row {
  display: flex;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.mpf_input {
  background: transparent;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 6px;
  color: white;
  position: relative;
  font-size: 18px;
  line-height: 130%;
  font-weight: bold;
  width: 100%;

  &.type {
    border-bottom: 2px solid $violet;
  }

  &:disabled {
    color: $grey;
    border-bottom: 2px solid $grey;
  }

  &.error {
    border-bottom: 2px solid $error !important;
  }

  &.success {
    border-bottom: 2px solid $success !important;
  }

  @include phones {
    font-size: 14px;
  }
}

.mpf_send {
  margin-right: 29px;
  white-space: nowrap;

  @include tablets {
    margin-right: 0;
    margin-bottom: 25px;
    margin-top: 35px;
    font-size: 14px;
    padding: 10px 14px;
    align-self: flex-start;
  }
}

.political {
  @include tablets {
    font-size: 12px;
  }
}

.main_page_thank {
  h3 {
    margin-bottom: 20px;
  }

  .text-s {
    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .tel_link {
    margin-bottom: 0;
    color: white;
  }
}

.slide_num--mobile {
  display: none;

  @include phones {
    display: block;
    color: #FFFFFF;
    opacity: 0.05;
    font-size: 184px;
    position: absolute;
    left: -85px;
    top: -75px;
  }
}
