.jobs-main {
  button {
    margin-bottom: 50px;

    @include phones {
      margin-bottom: 30px;
    }
  }

  &-paragraph {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 140%;

    @include tablets {
      font-size: 20px;
    }

    @include phones {
      margin-bottom: 30px;
    }
  }

  .button-big {
    padding: 15px 33px;
  }

  &-info-wrapper {
    display: flex;

    @include phones {
      flex-direction: column;
    }

    &-item {
      font-size: 18px;
      line-height: 115%;
      width: 280px;
      margin-right: 30px;

      @include tablets {
        font-size: 16px;
        width: 100%
      }

      @include phones {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        position: relative;
        font-size: 18px;
        line-height: 115%;
        padding-left: 20px;
        color: white;

        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          content: ' ';
          background: no-repeat url('/assets/img/external-link-white.svg') center center;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
        }

        &:after {
          position: absolute;
          left: 20px;
          bottom: 0;
          width: calc(100% - 20px);
          height: 1px;
          border-bottom: 1px solid white;
          content: '';
          transition: width .3s ease-in-out;
        }

        &:hover {
          &:after {
            width: 0;
          }
        }
      }
    }
  }
}

.jobs {
  padding: 130px 0;

  @include tablets {
    padding: 50px 0;
  }

  .container {
    padding: 0 40px;
    width: 100%;
    max-width: 1360px;
  }

  h2 {
    text-align: center;
    margin-bottom: 70px;

    @include tablets {
      margin-bottom: 50px;
    }

    @include phones {
      margin-bottom: 25px !important;
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;

    @include tablets {
      margin-right: 0;
    }

    @include phones {
      width: calc(100% + 80px);
      margin-left: -40px;
    }

    &-item {
      padding: 50px 40px;
      color: $black;
      margin-right: 30px;
      margin-bottom: 30px;
      width: calc(33% - 30px);

      @include laptopLarge {
        padding: 40px 30px;
      }

      @include laptop {
        width: calc(50% - 30px);
      }

      @include tablets {
        width: 100%;
        margin-right: 0;
      }

      @include phones {
        padding: 29px 25px !important;
      }

      h6 {
        margin-bottom: 25px;

        @include phones {
          margin-bottom: 11px;
        }
      }

      &-tag-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;

        &-item {
          margin-right: 15px;
          margin-bottom: 15px;
          padding: 5px 15px;
          background-color: #725BC0;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #fff;
          border-radius: 3px;

          @include laptopLarge {
            font-size: 14px;
          }

          @include tablets {
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 12px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &-text {
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.02em;
        font-weight: bold;

        @include tablets {
          font-size: 14px;
        }

        @include phones {
          font-size: 12px !important;
        }
      }
    }
  }
}

.offer {
  padding: 130px 0;

  @include tablets {
    padding: 50px 0;
  }

  &-wrapper {
    margin-left: 50px;
    display: flex;

    @include phones {
      margin-left: 0;
      flex-direction: column;
    }

    &-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 50px;
      flex: 3;

      @include tablets {
        margin-left: 15px;
      }

      @include phones {
        margin-left: 0 !important;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:first-child {
        height: auto;
        margin-left: 0;
        flex: 4;

        @include laptop {
          flex: 5;
        }

        @include phones {
          margin-bottom: 30px;
        }
      }

      h2 {
        margin-bottom: 30px;
      }

      &-text, &-paragraph {
        font-size: 18px;
        line-height: 115%;
        margin-bottom: 20px;

        @include tablets {
          font-size: 16px;
          margin-bottom: 15px;
        }

        @include phones {
          font-size: 14px !important;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-text {
        margin-bottom: 50px;

        @include laptop {
          font-size: 16px;
          margin-bottom: 40px;
        }
      }

      svg {
        margin-bottom: 20px;

        @include laptop {
          width: 47px;
          height: 47px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.question {
  padding: 130px 0;

  @include tablets {
    padding: 50px 0;
  }

  h2 {
    margin-bottom: 30px;
    text-align: center;

    @include tablets {
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 50px;

    @include tablets {
      font-size: 14px;
      margin-bottom: 40px;
    }

    a {
      position: relative;
      color: #725BC0;

      &:after {
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #725BC0;
        content: '';
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}