//MAIN
.service-main {
  min-height: 100vh;
  padding: 130px 0;
  display: flex;
  align-items: center;

  @include phones {
    padding-bottom: 50px;
  }

  .container {
    display: flex;

    @include tablets {
      flex-direction: column;
    }

    & > div {
      max-width: 45%;

      @include tablets {
        max-width: none;
      }

      &:last-child {
        margin-left: auto;

        @include tablets {
          margin-left: 0;
          margin-top: 50px;
        }
      }
    }
  }

  h1 {
    margin-bottom: 70px;
    font-size: 64px;
    line-height: 100%;

    @include laptopLarge {
      font-size: 52px;
    }

    @include laptop {
      font-size: 48px;
      margin-bottom: 50px;
    }

    @include phones {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  .button-big {
    margin-bottom: 50px;

    @include phones {
      margin-bottom: 25px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    margin-top: 50px;

    @include laptop {
      margin-top: 30px;
    }

    @include tablets {
      margin-top: 20px;
    }

    li {
      position: relative;
      width: calc(50% - 25px);
      margin-right: 25px;
      margin-bottom: 30px;

      @include laptop {
        width: 100%;
        margin-right: 0;
      }

      @include tablets {
        margin-bottom: 10px;
      }

      &:before {
        position: absolute;
        top: 12px;
        left: -15px;
        width: 6px;
        height: 6px;
        content: '';
        background-color: $violet;
        border-radius: 100px;

        @include laptop {
          top: 5px;
        }
      }
    }

    br {
      @include laptop {
        display: none;
      }
    }
  }
}

//SERVICE SLIDER
.service-slider {
  padding: 130px 0;

  @include tablets {
    padding: 50px 0;
  }

  h3 {
    margin-bottom: 90px;

    @include laptop {
      margin-bottom: 50px;
    }

    @include tablets {
      margin-bottom: 25px;
    }
  }
}

.swiper-service {
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-self: flex-start;
  }

  &-text {
    margin-right: 30px;

    @include tablets {
      margin-right: 0;
      margin-bottom: 30px;
    }

    h5 {
      margin-bottom: 30px;
    }
  }

  &-card {
    padding: 45px 40px;
    background-color: $violet;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;

    @include laptop {
      padding: 30px 25px;
    }

    @include tablets {
      max-width: 500px;
    }

    @include phones {
      padding: 22px 17px;
    }
  }
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: $black;
  font-weight: bold;
  background: transparent;
  position: relative;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color: #725BC0;
  opacity: 1;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-top: 3px solid #725BC0;
    border-bottom: 3px solid #725BC0;
    border-left: 3px solid #725BC0;
    border-right: 3px solid transparent;
    border-radius: 100%;
    position: absolute;
    left: 0;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.service-pagination {
  margin-bottom: 30px;
  bottom: 0 !important;
}

.slide-card {

  &-number {
    line-height: 100px;
    font-size: 144px;
    margin-right: 40px;
    color: #fff;

    @include laptop {
      font-size: 100px;
    }

    @include phones {
      font-size: 87px;
      margin-right: 20px;
    }
  }

  &-title {
    color: #fff;
    margin-bottom: 30px;

    @include laptop {
      margin-bottom: 20px;
    }

    @include phones {
      margin-bottom: 10px;
    }
  }

  &-text {
    color: #fff;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.02em;

    @include phones {
      font-size: 12px !important;
    }
  }
}

//RESULT
.result {
  padding: 130px 0;

  @include tablets {
    padding: 50px 0;
  }

  h3 {
    margin-bottom: 90px;

    @include laptop {
      margin-bottom: 50px;
    }

    @include tablets {
      margin-bottom: 25px;
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -150px;

    @include laptop {
      margin-right: -75px;
    }

    @include tablets {
      margin-right: -40px;
    }

    @include phones {
      margin-right: 0 !important;
    }

    & > div {
      margin-right: 150px;
      margin-bottom: 100px;
      width: calc(50% - 150px);

      @include laptop {
        margin-right: 75px;
        margin-bottom: 50px;
        width: calc(50% - 75px);
      }

      @include tablets {
        margin-right: 40px;
        margin-bottom: 25px;
        width: calc(50% - 40px);
      }

      @include phones {
        width: 100% !important;
        margin-right: 0px !important;
      }
    }

    h5 {
      margin-bottom: 20px;

      @include phones {
        margin-bottom: 15px !important;
      }
    }
  }
}

//SERVICE
.service {
  padding: 130px 0;

  @include tablets {
    padding: 50px 0;
  }

  h3 {
    margin-bottom: 90px;

    @include tablets {
      margin-bottom: 40px;
    }
  }

  &-wrapper {

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 0 120px 115px;
      position: relative;
      overflow: hidden;

      @include laptop {
        padding: 0 0 70px 50px;
      }

      @include tablets {
        flex-direction: column;
      }

      &:before {
        position: absolute;
        left: 4px;
        top: 12px;
        width: 16px;
        height: 16px;
        content: '';
        border: 5px solid $violet;
        border-radius: 100px;
      }

      &:after {
        position: absolute;
        left: 11px;
        top: 43px;
        content: '';
        height: 100%;
        width: 2px;
        background-color: $black;
      }

      h5 {
        color: $violet;
        margin-bottom: 20px;
      }

      .text-s {
        margin-bottom: 20px;
      }

      &-result {
        margin-top: 30px;

        span {
          color: $violet;
          font-weight: bold;
        }
      }

      &-card {
        width: 100%;
        padding: 78px 85px;
        border-radius: 10px;
        position: relative;

        @include tablets {
          padding: 40px 50px;
        }

        @include tablets {
          padding: 35px 25px;
        }

        h6 {
          margin-bottom: 30px;

          @include phones {
            font-size: 12px;
            margin-bottom: 17px;
          }
        }

        h5 {
          margin-bottom: 50px;

          @include phones {
            font-size: 14px;
            margin-bottom: 21px;
          }
        }
      }

      &-card.dark {
        background-color: $violet;
      }

      &:first-child {

        &:before {
          width: 24px;
          height: 24px;
          left: 0;
        }

        &:after {
          top: 51px;
        }
      }

      &:last-child {

        &:before {
          width: 24px;
          height: 24px;
          left: 0;
          top: 137px;
        }

        &:after {
          top: 0;
          height: 125px;
        }
      }

      img {
        margin-left: 50px;
        @include laptop {
          width: 33vw;
          height: auto;
        }

        @include tablets {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}

.service-wrapper-item-card__content {
  z-index: 1;
  position: relative;
}


