// COLORS
$black-text : #1B1F22;
$purple-light: #725BC0;
$purple-dark:  #6428C8;
$gray-disable: #8E8E8E;
$gray-back-ground: #1C1C1C;


// SETTINGS
body {
  font-family: 'Gilroy', sans-serif;
}

.dark {
  background-color: $gray-back-ground;
}

.ui {
  &-section {
    padding: 100px 30px;

    &-title {
      margin-bottom: 70px;
      text-decoration: underline;
    }
  }

  &-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;

    > * {
      margin-right: 50px;
    }
  }
}

// TITLES
h1 {
  color: $black-text;
  line-height: 125%;
  font-weight: bold;
  font-size: 72px;

  @include laptopLarge {
    font-size: 52px;
  }

  @include tablets {
    font-size: 32px;
  }
}

h2 {
  color: $black-text;
  font-weight: bold;
  line-height: 100%;
  font-size: 64px;

  @include laptopLarge {
    font-size: 42px;
  }

  @include tablets {
    font-size: 24px;
  }
}

h2.v2 {
  letter-spacing: -0.02em;
  line-height: 115%;
}

h3 {
  color: $black-text;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 115%;
  font-size: 52px;

  @include laptopLarge {
    font-size: 36px;
  }

  @include tablets {
    font-size: 24px;
  }
}

h4 {
  color: $black-text;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 115%;
  font-size: 48px;

  @include laptopLarge {
    font-size: 32px;
  }

  @include tablets {
    font-size: 24px;
  }
}

h5 {
  color: $black-text;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.25;
  font-size: 32px;

  @include laptopLarge {
    font-size: 28px;
  }

  @include tablets {
    font-size: 20px;
  }
}

h5.v2 {
  font-weight: normal;
  line-height: 37px;
}

h6 {
  color: $black-text;
  font-weight: bold;
  letter-spacing: -0.02em;
  line-height: 1.25;
  font-size: 24px;
  @include laptopLarge {
    font-size: 20px;
  }

  @include tablets {
    font-size: 18px;
  }

  @include phones{
    font-size: 14px;
  }
}

h6.v2 {
  line-height: 29px;
}

h6.v3 {
  font-weight: normal;
  line-height: 28px;
}

//TEXTS
.text {
  color: $black-text;
  font-weight: normal;

  &-xl, &-xl p {
    @extend .text;
    line-height: 125%;
    font-size: 42px;
  }

  &-l, &-l p{
    @extend .text;
    line-height: 140%;
    font-size: 32px;
  }

  &-l.v2, &-l.v2 p {
    @extend .text;
    font-weight: 500;
  }

  &-l.v3, &-l.v3 p {
    @extend .text;
    line-height: 125%;
    font-weight: 500;
  }

  &-m, &-m p {
    @extend .text;
    line-height: 140%;
    font-size: 22px;

    @include laptopLarge {
      font-size: 20px;
    }

    @include laptop {
      font-size: 18px;
    }

    @include laptop {
      font-size: 16px;
    }

    @include phones {
      font-size: 14px;
    }
  }

  &-m.v2, &-m.v2 p {
    @extend .text;
    line-height: 125%;
    font-weight: bold;
  }

  &-m.v3, &-m.v3 p {
    @extend .text;
    line-height: 125%;
    font-weight: 500;
  }

  &-m.v4, &-m.v4 p {
    @extend .text;
    letter-spacing: -0.02em;
    line-height: 125%;
    font-weight: 500;
  }

  &-s, &-s p {
    @extend .text;
    line-height: 115%;
    font-weight: bold;
    font-size: 18px;

    @include tablets {
       font-size: 16px;
       font-weight: normal;
     }

    @include phones {
      font-size: 14px;
      font-weight: normal;
    }
  }

  &-s.v2, &-s.v2 p {
    @extend .text;
    letter-spacing: -0.02em;
    font-weight: normal;
  }

  &-s.v3, &-s.v3 p {
    @extend .text;
    line-height: 130%;
  }

  &-xs, &-xs p {
    @extend .text;
    line-height: 125%;
    font-weight: bold;
    font-size: 16px;

    @include tablets {
      font-size: 14px;
    }
  }

  &-xs.v2, &-xs.v2 p {
    @extend .text;
    font-weight: 500;
  }
}

//BUTTONS
.button {
  font-family: 'Gilroy', sans-serif;
  background-color: $purple-light;
  border-radius: 54px;
  line-height: 100%;
  font-weight: bold;
  transition: .2s;
  cursor: pointer;
  color: #fff;

  &:hover, &:active {
    background-color: $purple-dark;
  }

  &:active {
    box-shadow: 0 0 42px rgba(100, 40, 200, 0.32);
  }

  &[disabled] {
    background-color: $gray-disable;
    color: #fff;
  }

  &-small {
    @extend .button;
    padding: 12px 20px;
    font-size: 16px;

    &-light {
      @extend .button-small;
      background-color: #fff;
      color: $purple-light;

      &:hover, &:active {
        background-color: #fff;
        color: $purple-light;
      }
    }
  }

  &-big {
    @extend .button;
    letter-spacing: -0.02em;
    padding: 23px 33px;
    font-size: 24px;
    
    &-light {
      @extend .button-big;
      background-color: #fff;
      color: $purple-light;

      &:hover, &:active {
        background-color: #fff;
        color: $purple-light;
      }
    }

    @include tablets {
      font-size: 18px;
    }

    @include phones {
      font-size: 14px;
      padding: 11px 14px;
    }
  }

  &-arrow {
    @extend .button;
    padding: 15px 22px;

    &:active {
      box-shadow: none;
    }
  }

  &-transparent {
    font-family: 'Gilroy', sans-serif;
    background-color: transparent;
    position: relative;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    padding: 0;

    span {
      position: relative;
    }

    &:before {
      background-color: $purple-light;
      position: absolute;
      transition: .2s;
      bottom: 1px;
      width: 100%;
      height: 6px;
      content: '';
      left: 0;
    }

    &:hover, &:active {

      &:before {
        background-color: $purple-dark;
      }
    }

    &:active {
      color: #E6E6E6;
    }

    &[disabled] {

      &:before {
        background-color: $gray-disable;
      }
    }
  }
}

// LINKS
.link {

  border-bottom: 1px solid #645F9A;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-size: 18px;
  color:  #645F9A;
  transition: .2s;

  &:hover {
    border-bottom: 1px solid $purple-light;
    color: $purple-light;
  }

  &:active {
    border-bottom: 1px solid $purple-dark;
    color: $purple-dark;
  }

  &[disabled] {
    border-bottom: 1px solid $gray-disable;
    color: $gray-disable;
  }
}

//CARDS
.card {
  background-color: #fff;
  box-shadow: 0 13px 32px rgba(114, 91, 192, 0.25);
  border-radius: 5px;
  transition: .2s;
  color: $black-text;

  &:hover {
    background-color: #F9F8FF;
  }

  //&:active, &:visited {
  //  background-color: #EDE8FF;
  //}
}

//MENU ITEMS
.menu-item {
  line-height: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #1C1C1C;
  transition: .2s;

  &:hover {
    color: $purple-light;
  }

  &:active {
    color: $purple-dark;
  }

  &[disabled] {
    color: $gray-disable;
  }
}

//DARK THEME
.dark {
  // TITLES
  h1,h2,h3,h4,h5,h6,p,span,b,em,div {
    color: #fff;
  }

  //TEXTS
  .text {
    color: #FFF;
  }

  //MENU ITEMS
  .menu-item {
    color: #fff;
    transition: .2s;

    &:hover {
      color: $purple-light;
    }

    &:active {
      color: $purple-dark;
    }

    &[disabled] {
      color: $gray-disable;
    }
  }

}
