.vacancy-main {
  flex-direction: column;
  padding: 130px 0;
  display: flex;
  align-items: center;

  @include tablets {
    padding-bottom: 50px;
  }

  .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "breadcrumbs breadcrumbs" "content sidebar";

    @include tablets {
      grid-template-columns: 1fr;
      grid-template-areas: "breadcrumbs" "content" "sidebar";
    }
  }

  .content {
    grid-area: content;

    @include tablets {
      margin-bottom: 50px;
    }
  }

  h1 {
    font-size: 52px;
    margin-bottom: 30px;

    @include laptopLarge {
      font-size: 36px;
    }

    @include tablets {
      font-size: 32px;
      margin-bottom: 25px;
    }
  }

  .button-big {
    margin-bottom: 70px;

    @include phones {
      margin-bottom: 0;
    }
  }
}

.breadcrumbs {
  grid-area: breadcrumbs;
  display: flex;
  margin-bottom: 50px;

  @include phones {
    margin-bottom: 30px;
  }

  a {
    font-size: 24px;
    color: #725BC0;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    margin-right: 30px;
    transition: .3s ease-in-out;

    @include phones {
      font-size: 14px;
    }

    &::before {
      content: '';
      background: url("/assets/img/arrow-prew.svg") center no-repeat;
      background-size: contain;
      width: 20px;
      height: 22px;
      margin-right: 12px;
      display: inline-block;
      opacity: 1;
      transition: .3s ease-in-out;

      @include phones {
        width: 10px;
        height: 15px;
      }
    }

    &:hover {
      left: -30px;

      &::before {
        opacity: 0;
      }
    }
  }
}

.tag-list {
  display: flex;
}

.tag__item {
  padding: 5px 15px;
  margin-right: 15px;
  color: #725BC0;
  font-size: 16px;
  background: #DFE0E2;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 50px;

  @include phones {
    font-size: 12px;
    margin-bottom: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.vacancy-desc {
  font-size: 18px;
  line-height: 115%;
  letter-spacing: -0.02em;
  margin-bottom: 30px;

  @include phones {
    font-size: 14px;
  }
}

.vacancy-text {
  h2 {
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 30px;

    @include laptopLarge {
      font-size: 28px;
    }

    @include tablets {
      margin-top: 50px;
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  li {
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
    position: relative;

    @include tablets {
      font-size: 16px;
    }

    @include phones {
      font-size: 14px !important;
      margin-bottom: 10px;
    }

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #725BC0;
      position: absolute;
      left: 0;
      top: 8px;

      @include phones {
        top: 4px;
      }
    }
  }
}

.sidebar {
  grid-area: sidebar;
  max-width: 231px;
  margin-left: 85px;

  @include tablets {
    margin-left: 0;
    max-width: 100%;
  }
}

.sidebar__block {
  @include tablets {
    display: flex;
  }
}

.photo-wrap {
  border-radius: 5px;
  width: 231px;
  height: 231px;
  margin-bottom: 20px;
  overflow: hidden;

  @include tablets {
    min-width: 150px;
    width: 150px;
    height: 150px;
    margin-left: 15px;
  }

  @include phones {
    min-width: 80px !important;
    width: 80px !important;
    height: 80px !important;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sidebar__block-text {
  @include tablets {
    order: -1;
  }
}

.sidebar__block-title {
  color: #A1A1A1;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;

  @include phones {
    font-size: 14px;
  }
}

.sidebar__block-name {
  font-size: 24px;
  font-weight: bold;
  color: #725BC0;
  margin-bottom: 10px;

  @include phones {
    font-size: 20px;
  }
}

.sidebar__block-position {
  font-size: 18px;
  letter-spacing: -0.02em;

  @include phones {
    font-size: 14px;
  }
}