section:not(.main) > * {
  opacity: 0;
  transform: translateY(50px);
}

.service-slider .swiper-slide-text,
.service-slider .service-pagination,
.service-wrapper-item > div,
.swiper-slide h2 {
  position: relative;
  left: -50px;
  opacity: 0;
}

.service-slider .swiper-slide-card,
.service-wrapper-item > img,
.slide_col__top {
  position: relative;
  right: -50px;
  opacity: 0;
}

.result-wrapper > div,
.jobs-wrapper-item {
  opacity: 0;
}

.slide_col__bottom {
  position: relative;
  bottom: -50px;
  opacity: 0;
}

.main-section .swiper-slide h2,
.slide_col__top,
.slide_col__bottom {
  @include phones {
    opacity: 0;
    transform: translateY(50px);
    left: 0;
    bottom: auto;
    right: auto;
  }
}
