.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.8);
  padding: 40px;
  align-items: center;
  z-index: 10000;
  display: none;

  @include phones {
    padding: 40px 20px;
  }

  &.text-xs p {
    margin-right: 30px;
    color: #FFFFFF;
  }

  a {
    color: #645F9A;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $violet;
    }

    &:active {
      color: #6428C8;
    }
  }

  .close {
    position: relative;
    right: 0;
    top: 0;
    margin-left: auto;
    &::before, &::after {
      background: #FFFFFF;
    }
  }
}