.footer {
  background-color: #1B1F22;
  padding: 62px 0 23px 0;

  @include phones {
    padding: 30px 0;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }

    &-items {
      margin-bottom: 32px;
    }
  }

  &-nav-list {
    display: flex;

    @include laptop {
      flex-wrap: wrap;
      max-width: 70vw;
    }

    @include tablets {
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }

    &-items {
      margin-right: 46px;

      @include laptopLarge {
        margin-right: 30px;
      }

      @include tablets {
        margin-right: 0;
        margin-bottom: 25px;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      a {
        font-size: 16px;
        font-weight: bold;
        line-height: 130%;
        color: #FFFFFF;

        @include phones {
          font-size: 14px;
        }
      }
    }
  }

  &-socials {
    margin-top: 0;

    a {
      margin-right: 23px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-text {
    font-size: 14px;
    line-height: 21px;

    @include tablets {
      text-align: center;
    }

    @include phones {
      font-size: 13px;
    }
  }

  &-landau {
    text-align: right;

    a {
      color: #FFFFFF;
    }
  }
}

.social-icon {
  &:hover {
    path {
      fill:  #725BC0;
    }
  }
}
