//Header
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 32px 26px 32px 54px;
  background-color: #fff;
  z-index: 2;

  @include laptop {
    padding: 32px 25px;
  }

  @include tablets {
    padding: 36px 25px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    max-width: 1434px;
    width: 100%;
    margin: 0 auto;

    @include tablets {
      align-items: center;
      justify-content: flex-start;
    }
  }

  &-logo {
    a {
      display: block;
    }
  }

  &-logo-img {
    @include laptop {
      width: 150px;
      height: auto;
    }

    @include phones {
      width: 120px;
    }
  }

  &-content-wrapper {
    display: flex;
    align-items: center;

    @include tablets {
      display: none;
    }
  }

  &-nav-list {
    display: flex;

    li {
      margin-right: 40px;

      @include laptop {
        margin-right: 20px;
        font-size: 16px;
      }

      &:last-child {
        margin-right: 50px;

        @include laptop {
          margin-right: 15px;
        }
      }
    }

    a {
      font-weight: bold;
      color: #1b1f22;
    }
  }

  &.sticky {
    @include tablets {
      padding: 15px 25px;
    }
  }

  &.open {
    background: #FFFFFF;
    padding-bottom: 100px;
    overflow-y: auto;
    max-height: 100%;

    .mobile-menu {
      transform: none;
    }
  }
}

/* Icon */
.hamburger-menu {
  width: 27px;
  height: 15px;
  position: relative;
  margin-right: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;

  @include tablets {
    display: block;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $violet;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 6.5px;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 7px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 7px;
        transform: rotate(-135deg);
      }
    }
  }
}

.header.dark {
  background-color: transparent;

  &.sticky {
    background-color: #1c1c1c;
  }

  .header-logo-img {
    path {
        fill: white;
      }
  }

  a {
    color: #fff;

    &:hover {
      color: #725BC0;
    }

    &:active {
      color: #6428C8;
    }
  }

  .hamburger-menu {
    span {
      background: #FFFFFF;
    }
  }

  &.open {
    background: $dark;
  }
}

nav {
  a {
    transition: .3s;

    &:hover {
      color: #725BC0;
    }

    &:active {
      color: #6428C8;
    }
  }
}

.droptitle {
  cursor: pointer;
  position: relative;
  font-weight: 700;
}

.droptitle__menu {
  width: 304px;
  padding: 24px 20px;
  background: $link;
  border-radius: 5px;
  position: absolute;
  margin-top: 18px;
  opacity: 0;
  left: -20px;
  top: 0;
  visibility: hidden;

  &::before {
    content: "";
    display: block;
    height: 20px;
    left: 0;
    right: 0;
    top: -19px;
    position: absolute;
  }

  &::after {
    content: "";
    display: block;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 16px solid $link;
    position: absolute;
    bottom: 100%;
    left: 30px;
    margin-bottom: -3px;
  }

  .menu {
    .menu-item {
      margin-right: 0;

      a {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: -.02em;
        margin-bottom: 10px;
        display: block;
        color: #fff!important;
        opacity: 0;
      }

      a:hover {
        color: #1b1f22!important;
      }
    }
  }
}

.droptitle__text {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
  display: block;
  color: white !important;
  opacity: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: $black !important;
  }
}

.mobile-menu {
  display: none;
  padding-top: 50px;
  transform: translateX(-100%);
  transition: transform .3s;

  .button-small {
    margin-top: 50px;
  }
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu-list__item {
  margin-bottom: 30px;

  a {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: $dark;

    @include phones {
      font-size: 18px;
    }
  }
}
