.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;

  &.dark {
    background: transparent;

    .modal-form-wrap {
      background: $dark;
    }

    .mpf_input {
      border-bottom: 2px solid #FFFFFF;
      color: white;

      &::-webkit-input-placeholder {
        color: white;
      }
      &:-moz-placeholder           {
        color: white;
      }
      &::-moz-placeholder          {
        color: white;
      }
      &:-ms-input-placeholder      {
        color: white;
      }
    }

    .close {
      &::before, &::after {
        background: #FFFFFF;
      }

      &:hover {
        &::before, &::after {
          background: $violet;
        }
      }
    }

    .files__btn {
      border: 2px dashed white;
    }
  }

  .mpf_input {
    border-bottom: 2px solid $dark;
    color: $dark;

    &::-webkit-input-placeholder {
      color: $dark;
    }
    &:-moz-placeholder           {
      color: $dark;
    }
    &::-moz-placeholder          {
      color: $dark;
    }
    &:-ms-input-placeholder      {
      color: $dark;
    }
  }

  .political a{
    color: $violet;
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.modal-form-wrap {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  position: relative;
  background: white;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform .3s;

  @include tablets {
    width: 100%;
    padding: 50px 25px;
  }

  @include phones {
    justify-content: flex-start;
  }

  h3 {
    margin-bottom: 20px;
  }

  .text-s {
    margin-bottom: 50px;

    @include tablets {
      margin-bottom: 25px;
    }

    p {
      font-weight: normal;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.open {
    transform: none;
  }
}

.modal-form {
  max-width: 435px;

  .form_block {
    margin-bottom: 40px;

    @include tablets {
      margin-bottom: 25px;
    }
  }

  .button-big {
    margin-top: 50px;
    margin-bottom: 30px;

    @include tablets {
      margin: 25px 0;
    }
  }
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  min-width: 20px;
  width: 20px;
  min-height: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $dark;
    transition: all .3s ease-in-out;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before, &::after {
      background: $violet;
    }
  }
}

.form_block {
  position: relative;

  label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease-in-out;

    &.focus {
      top: -18px;
      color: $grey;
      font-size: 12px;
    }
  }

  .files__label {
    position: relative;
    overflow: hidden;
    display: block;

    input[type=file] {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.files__btn {
  padding: 26px;
  border: 2px dashed rgba(28, 28, 28, 0.3);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 100;

  .file__name {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    line-height: 1;

    &:last-child {
      margin-right: 0;
    }
  }
  
  span {
    color: $violet;
    text-decoration: underline;
    margin-left: 5px;
  }
}

.del {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $violet;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.tel_link {
  font-size: 32px;
  line-height: 40px;
  color: $violet !important;
  font-weight: bold;
  transition: all .3s ease-in-out;
  margin-bottom: 50px;
  display: block;

  @include laptop {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    color: #6428C8;
  }
}

.thank-block {
  max-width: 540px;
  display: none;
}

.main_page_thank {
  .tel_link {
    display: inline-block;
  }
}

.dark .error-msg,
.error-msg {
  color: $error;
  font-size: 12px;
  display: none;
}

.mpf_input.error +.dark .error-msg,
.mpf_input.error +.error-msg {
  display: block;
}
